body { color: <?php echo $body_color; ?>; }
h1   { font-size: <?php echo $fontsize."px"; ?>; }
p    { color:#fff <?php echo $paragraph_color; ?>; }

body{
    
    
}

body{
    display: flex;
    justify-content: center;
    align-item: center;
    min-height: 100vh;
    background-image: url("buku.jpeg");
    background-size: cover;
    background-position: center
}

.sigma-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px
}

.sigma-wrapper .rizz-username input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
}

.rizz-username input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gainsboro
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.rizz-username input:placeholder{ 
    color: #fff
}

.rizz-username i {
    position: absolute;
    right: 20px;
    top: 50%px;
    transform: translateY(-50%);
    font-size: 20px;
}

.sigma-wrapper .ingat {
    display: flex
    justifly-content: space-between;
    font-size: 14,5px;
    margin: -15px 0 15px;
}

.ingat label input {
    accent-color: #fff;
    margin-right: 3px;
}

.ingat a {
    color: #fff
    text-decoration: none;
}

.ingat a:hover {
    text-decoration: underline;
}

.sigma-wrapper .btn {
    width: 100%;
    height: 45%;
    backgroumd: #fff
    border: none;
    outline: none;
    border-radius: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.sigma-wrapper .buat{
   font-size: 14.5px;
   text.align: center;
   margin: 20px 0 15px;
}
.buat p a {
    color:  #fff;
    text-decoration: none;
    font-weight: 600;
}

.buat p a:hover {
    text-decoration: underline;
}
